<a href="https://colab.research.google.com/github/ozi10/ML-projects/blob/main/All_classification_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Tree Classification

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_csv('Data.csv')

In [ ]:
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
dataset_Id = dataset['Sample code number']

del dataset['Sample code number']

In [ ]:
X = dataset.drop(columns = ['Class'] ,  axis=1)
y=dataset['Class']

In [ ]:
y.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the Decision Tree Classification model on the Training set

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

## Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model_Rf = RandomForestClassifier(n_estimators = 50 , criterion = 'entropy', random_state=10)
model_Rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

## SVM

In [ ]:
from sklearn.svm import SVC

model_SVC = SVC(kernel='rbf',random_state=0)
model_SVC.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

## K nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model_Knn= KNeighborsClassifier(n_neighbors = 3,metric='minkowski',p=2)
model_Knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

## Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression

model_Lr = LogisticRegression()
model_Lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

model_Nb = GaussianNB()
model_Nb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

# XGboost classifier

In [ ]:
from xgboost import XGBClassifier
Xg_classifier = XGBClassifier()
Xg_classifier.fit(X_train, y_train)
Xg_predict = Xg_classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[103   4]
 [  3  61]]

0.9590643274853801

## Predictions

In [ ]:
predict_knn = model_Knn.predict(X_test)
predict_Dt = classifier.predict(X_test)
predict_Rf = model_Rf.predict(X_test)
predict_Svc = model_SVC.predict(X_test)
predict_Nb = model_Nb.predict(X_test)
predict_Lr = model_Lr.predict(X_test)

## Score

In [ ]:
from sklearn.metrics import accuracy_score,mean_absolute_error,r2_score

print('acuracy score for dt:',accuracy_score(y_test,predict_Dt))
print('acuracy score for Knn:',accuracy_score(y_test,predict_knn))
print('acuracy score for Rf:',accuracy_score(y_test,predict_Rf))
print('acuracy score for SVC:',accuracy_score(y_test,predict_Svc))
print('acuracy score for NB:',accuracy_score(y_test,predict_Nb))
print('acuracy score for Lr:',accuracy_score(y_test,predict_Lr))
print('acuracy score for Xg:',accuracy_score(y_test,Xg_predict))

acuracy score for dt: 0.9590643274853801
acuracy score for Knn: 0.6257309941520468
acuracy score for Rf: 0.9473684210526315
acuracy score for SVC: 0.6257309941520468
acuracy score for NB: 0.8187134502923976
acuracy score for Lr: 0.6257309941520468
acuracy score for Xg: 0.9532163742690059

In [ ]:
from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator = Xg_classifier , X = X_train, y = y_train , cv = 10)
print('accuracies: {:.2f} %'.format(accuracies.mean()*100))
print('Standar deviation: {:.2f} %'.format(accuracies.std()*100))

accuracies: 96.48 %
Standar deviation: 3.01 %

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,predict_Dt)

array([[104,   3],
       [  4,  60]])

In [ ]:
 pred_df = pd.DataFrame({'actual':y_test,'Predicted_Dt':predict_Dt,'predicted_Rf':predict_Rf})

In [ ]:
pred_df.tail()

     actual  Predicted_Dt  predicted_Rf
443       2             2             2
159       2             2             2
317       2             2             2
78        2             2             2
92        2             2             2